sudo: false

language: node_js
node_js:
  - 10
branches:
  only:
    - master
script:
  - npm run lint
  - npm run test:codecov
  - npm run build
  - npm run demo:build
deploy:
  on:
    branch: master
  provider: script
  skip-cleanup: true
  script: npm run semantic-release
