sodu: false

language: node_js
node_js:
  - 10
branches:
  only:
    - master
script:
  - npm run lint
  - npm run test
  - npm run build
deploy:
  on:
    branch: master
  provider: script
  skip-cleanup: true
  script: npm run travis-deploy-once "npm run semantic-release"
